<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/notely_style.css"/>
    <title>Notely</title>
    <!-- <script src = "../static/notely_script.js"></script> -->
</head>
    <body>
        <main>
        <!-- main game body here-->
        <!-- display score here-->
        <!-- area for displaying note image -->
        <h1>Notely</h1>
        <!-- <h2 class="score">10</h2> -->
        <!-- <section class="game-area"> -->
        <!-- </section> -->
            <img 
            src ="../static/assets/notes/00_bass_q.jpg" ]
            alt ="Note" 
            class="note hidden"
        />
        <button class="btn btn--new">🔁 New game</button>

        <!-- buttons  -->
    </main>
    <script src = "../static/notely_script.js"></script>
    </body>
</html>
